@media (min-width:992px ){
	div {
		width: 33%;
	}
}

@media (min-width:768px ) and (max-width: 991px){
	div.chicken,div.fish {
		width: 50%;
	}
	div.dessert{
		width:100%;
	}
}

@media (max-width:767px ){
	div {
		width: 100%;
	}
}

div{
	background-color: gray;
float: left;
}
h1{
	text-align: center;
}